讀2個檔
* **df**: `板橋道路資訊.csv`
* **df_opendata**: `NTP_all_成品區.xlsx`的`5人分工合併`sheet。整理過的所有板橋車位data，已經校正過2774個車位所屬的道路，再加上roadid就大功告成。
* **輸出**: `板橋車格資訊.csv`

In [1]:
import pandas as pd
df = pd.read_csv('板橋道路資訊.csv')
df['cell_amount'].sum()
df.head(3)

   roadid        lat         lon     route  cell_amount
0       1  25.013641  121.475022    106甲縣道            4
1       2  25.021456  121.479341     三民路一段           35
2       3  25.023297  121.480721  三民路一段31巷            5

In [2]:
df_opendata = pd.read_excel('NTP_all_成品區.xlsx', 
                            sheet_name='5人分工合併')
df_opendata = df_opendata.iloc[:, :7]
df_opendata.head(3)

      id roadid        lat         lon   route district               address
0  15854    K79  25.011510  121.478169  106甲縣道      板橋區  220台灣新北市板橋區106甲縣道16號
1  15873    K79  25.011571  121.478054  106甲縣道      板橋區  220台灣新北市板橋區106甲縣道77號
2  15874    K79  25.013625  121.474863  106甲縣道      板橋區  220台灣新北市板橋區106甲縣道18號

In [3]:
# df_opendata.drop(['Unnamed: 7','Unnamed: 8','Unnamed: 9'])
df_opendata['feeid'] = df_opendata['roadid']
df_opendata['roadid'] = ''

In [4]:
df_opendata.head(3)

,id,roadid,lat,lon,route,district,address,feeid
0,15854,,25.011510,121.478169,106甲縣道,板橋區,220台灣新北市板橋區106甲縣道16號,K79
1,15873,,25.011571,121.478054,106甲縣道,板橋區,220台灣新北市板橋區106甲縣道77號,K79
2,15874,,25.013625,121.474863,106甲縣道,板橋區,220台灣新北市板橋區106甲縣道18號,K79

## Function: map route to roadid
* apply():　https://blog.csdn.net/qq_19528953/article/details/79348929

In [6]:
def get_roadid(arrLike):
    route_name = arrLike['route']
    roadid = df.loc[df.route == route_name]['roadid']
#     print(roadid, '>>',route_name)
    return int(roadid)

In [7]:
df_opendata['roadid'] = df_opendata.apply(get_roadid, axis = 1)

In [8]:
df_opendata

,id,roadid,lat,lon,route,district,address,feeid
0,15854,1,25.011510,121.478169,106甲縣道,板橋區,220台灣新北市板橋區106甲縣道16號,K79
1,15873,1,25.011571,121.478054,106甲縣道,板橋區,220台灣新北市板橋區106甲縣道77號,K79
2,15874,1,25.013625,121.474863,106甲縣道,板橋區,220台灣新北市板橋區106甲縣道18號,K79
3,48712,1,25.022058,121.469034,106甲縣道,板橋區,220台灣新北市板橋區106甲縣道228號,K02
4,1396,2,25.019300,121.479318,三民路一段,板橋區,220台灣新北市板橋區106縣道301號,K42
...,...,...,...,...,...,...,...,...
2769,87849,172,25.028213,121.481296,懷德街235巷,板橋區,220台灣新北市板橋區懷德街235巷2號,K32
2770,95870,172,25.028261,121.481285,懷德街235巷,板橋區,220台灣新北市板橋區懷德街235巷2號,K32
2771,95871,172,25.028310,121.481277,懷德街235巷,板橋區,220台灣新北市板橋區懷德街235巷2號,K32
2772,106662,172,25.028367,121.481268,懷德街235巷,板橋區,220台灣新北市板橋區懷德街235巷2號,K32
2773,112164,173,25.016693,121.472167,觀光街12巷1弄,板橋區,220台灣新北市板橋區觀光街12巷1弄2號,K02

### 輸出

In [9]:
df_opendata.to_csv('板橋車格資訊.csv', index=False)

In [10]:
df.loc[df.route == '三民路一段']

   roadid        lat         lon  route  cell_amount
1       2  25.021456  121.479341  三民路一段           35