這支程式會計算道路上有幾個車位，再給道路一個座標。
座標是取每個停車格座標的中位數。

In [2]:
import pandas as pd

In [3]:
df_org = pd.read_excel('NTP_all.xlsx', sheet_name=0)
df_org.head(3)

In [5]:
df_route = pd.read_excel('NTP_all.xlsx', sheet_name=2)
df_route.head(3)

   roadid        lat         lon   route  車格數量           備註
0     NaN  25.013641  121.475022  106甲縣道     4  有一個左上角可以分開來
1     NaN  25.020910  121.454649     民權路    22          NaN
2     NaN  25.021456  121.479341   三民路一段    35          NaN

In [24]:
street_names = pd.unique(df_org['route'])
len(street_names)

174

In [36]:
lat, lon = df_route.iloc[1][['lat','lon']]
lon

121.454649

### 計算每條路有幾個車位

In [26]:
df = pd.DataFrame()
df['roadid'] = ""
df['lat'] = ''
df['lon'] = ''
df['route'] = ''
df['車格數量'] = ''

In [27]:
for street in street_names:
    df_select = df_org.loc[df_org['route'] == street]
#     print(street, len(df_select))
    df = df.append({'route':street, '車格數量':len(df_select)}, ignore_index=True)

106甲縣道 4
三民路一段 35
三民路一段31巷 5
三民路二段 89
三民路二段正隆巷 16
大同街 11
大明街 2
大明街20巷 7
大明街25巷 7
大智街 7
大觀路二段 25
大觀路二段153巷 11
干城路 23
中山路二段443巷 30
中山路二段90巷 4
中正路 板橋體育館 91
中正路 家樂福 46
中正路1巷 13
中正路372巷 49
中正路375巷 21
中正路379巷 4
中正路379巷3弄 16
中正路397巷3弄 3
中正路80巷 5
互助街 21
公園街 44
公館街 6
文化路二段 2
文化路二段182巷 12
文化路二段182巷1弄 21
文化路二段182巷5弄 4
文化路二段182巷7弄 68
文新路 7
文德路 17
北門街 23
四川路二段 12
四川路二段130巷 1
四川路二段245巷 25
四維路177巷4弄 4
民生路一段 16
民生路一段30巷 18
民生路一段31巷 1
民生路二段 39
民生路三段 10
民享街 19
民族路219巷 6
民族路225巷 6
民族路247巷3弄 6
民族路247巷5弄 4
民族路247巷7弄 6
民權路 22
田單街2巷 5
光中路 51
光武街 12
光武街125巷 4
光武街50巷 1
光復街 32
光復街140巷 3
光復街172巷 21
光環路一段 83
合安一路 2
成都街 18
成都路63巷 1
西門街 1
吳鳳路 8
和平路 36
和平路101巷 9
和平路143巷 1
和平路161巷 1
和平路200巷 1
和安一路 6
居仁巷1弄 1
府中路 1
忠孝路 56
忠孝路201巷 1
明德街 11
松江街 15
板城路 29
板城路(環河) 19
板新路 6
林森街3巷1弄 1
金華街85巷 4
長安街 9
長安街138巷 5
長安街251巷 26
長壽街 32
雨農路 15
信義路 5
南雅西路二段145巷 22
南雅西路二段175巷 1
南雅南路二段 18
南雅南路二段144巷 12
柏翠里 11
英士路 67
重慶路 11
重慶路155巷 13
重慶路308巷 5
海山路 54
區運路 26
國光路 52
國慶路 99
國慶路167巷 13
國慶路182巷 15
國慶路49巷 9
莊崑路 10
莊敬里 10
莊敬路 43
莊敬路208巷 3
莊敬路208巷2弄 4
莊敬路208巷6弄 2
莊敬路208巷8弄 9
莊敬路208巷9弄 1
莊敬路220巷 5
莊敬路220巷4弄 1
莊敬路25巷 1
莊敬路25巷4弄 11
莊敬路75巷 6
莒光路 1
莒光路78巷 5
復興街 7
華江陸橋 18
華順街 8
貴興路 22
陽明街 45
新北市特一號道路 3
新生街 2
新生街23巷 1
新生街98巷 12
新海路 70
新海路135巷 4
新海路72巷5弄 1
新崑路 2
溪北路 22
溪崑二街 4
溪崑二街111巷 4
溪崑二街118巷 2
溪崑二街84巷 2
溪頭街 31
萬安街 1
萬安街53巷 6
萬板路 12
僑中一街124巷 1
僑中一街124巷15弄 12
實踐路 3
滿平街136巷10弄 2
滿平街136巷8弄 5
滿平街84巷 3
滿平街84巷35弄 4
漢生東路 26
漢生東路193巷 11
漢生東路279巷 19
綠堤街 13
廣和街 36
廣權路 102
德興街 10
館前西路 3
館前東路 44
龍泉街 8
龍泉街108巷 1
龍泉街55巷 1
環河西路 1
環河西路五段 35
環河西路四段 5
環河西路四段699巷 5
環河路 64
環河道路 12
雙十路一段 6
雙十路二段 10
雙十路二段47巷8弄 7
懷德街139巷20弄 3
懷德街181巷 5
懷德街201巷 10
懷德街235巷 11
觀光街12巷1弄 1

In [32]:
df

    roadid  lat  lon       route 車格數量
0      NaN  NaN  NaN      106甲縣道    4
1      NaN  NaN  NaN       三民路一段   35
2      NaN  NaN  NaN    三民路一段31巷    5
3      NaN  NaN  NaN       三民路二段   89
4      NaN  NaN  NaN    三民路二段正隆巷   16
..     ...  ...  ...         ...  ...
169    NaN  NaN  NaN  懷德街139巷20弄    3
170    NaN  NaN  NaN     懷德街181巷    5
171    NaN  NaN  NaN     懷德街201巷   10
172    NaN  NaN  NaN     懷德街235巷   11
173    NaN  NaN  NaN    觀光街12巷1弄    1

[174 rows x 5 columns]

### 幫路找一個座標 (取中位數)

In [37]:
for street in street_names:
    df_select = df_org.loc[df_org['route'] == street]
    df_select.sort_values(by=['lat', 'lon'], inplace=True)
    
    _len  = len(df_select)
    _mean = int(_len/2)
    
    lat, lon = df_select.iloc[_mean-1][['lat','lon']]
    df.loc[df.route == street, 'lat'] = lat
    df.loc[df.route == street, 'lon'] = lon

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [42]:
df.roadid = list(range(1, len(df)+1))
df

     roadid      lat      lon       route 車格數量
0         1  25.0116  121.478      106甲縣道    4
1         2  25.0217  121.479       三民路一段   35
2         3  25.0232   121.48    三民路一段31巷    5
3         4  25.0155  121.479       三民路二段   89
4         5  25.0142  121.477    三民路二段正隆巷   16
..      ...      ...      ...         ...  ...
169     170  25.0307  121.481  懷德街139巷20弄    3
170     171  25.0303  121.482     懷德街181巷    5
171     172    25.03  121.482     懷德街201巷   10
172     173  25.0281  121.481     懷德街235巷   11
173     174  25.0167  121.472    觀光街12巷1弄    1

[174 rows x 5 columns]

In [43]:
df.to_csv('tbl路段_板橋.csv', index=False)